@{
  Layout = "_Layout";
}

<div class="jumbotron text-center">
  <h1>Address Book</h1>
</div>
<div class="well text-center">
  <h3>Contact Detail</h3><br>
  <p>Name: @Model.GetName()</p>
  <p>Phone Number: @Model.GetPhoneNumber()</p>
  <p>Address: @Model.GetAddress()</p>

  <h4><a href="/contacts/new">Make New Contact</a></h4>
  <h4><a href="/">Return to All Contacts</a></h4>
</div>
