@{
  Layout = "_Layout";
}
<div class="jumbotron text-center">
  <h1>Address Book</h1>
</div>
<div class="well text-center">
  <h3>Add A Contact</h3><br>
  <form action="/" method="post">
    <label for="name">Enter Contact Name</label>
    <input type="text" name="name" id="name">
    <label for="phone">Enter Contact Phone Number</label>
    <input type="text" name="phone" id="phone">
    <label for="address">Enter Contact Address</label>
    <input type="text" name="address" id="address">
    <button type="submit" class="btn btn-success">Add Contact</button>
  </form>
  <h4><a href="/">Return to All Contacts</a></h4>
</div>
