@{
  Layout = "_Layout";
}

<div class="jumbotron text-center">
  <h1>Address Book</h1>
</div>
<div class="well text-center">
  <h3>Welcome to your Address Book!</h3><br>
  <h3><u>Contacts</u></h3>
  @foreach (var contact in Model)
  {
    <p>contact<p>
  }
  <h4><a href="/contact/new">Add New Contact</a></h4>
</div>
